button {
    color: white;
    background-color: purple;
}

nav {
    height: 50px;
}

nav ul li {
    display: inline-block;
}

main {
    width: 600px;
    margin: 100px auto;
    text-align: center;
}

#highScores {
    float: left;
}

#timer {
    float: right;
}

#question {
    font-size: larger;
    font-weight: bolder;
}

#btn-group button{
    display: block;
}

#question {
    text-align: left;
}